<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
</head>
<body>
<h1>Bem-vindo à BookStore</h1>

<button onclick="window.location.href='/list-books'">Listar livros</button>
<button onclick="window.location.href='/list-magazines'">Listar revistas</button>
<button onclick="window.location.href='/list-genres'">Listar gêneros de livros</button>
<button onclick="window.location.href='/list-themes'">Listar temas de revistas</button>
<button onclick="window.location.href='/list-publishers'">Listar editoras</button>
</body>
</html>