<div th:switch="${themes}">
    <h2 th:case="null">Ainda não há temas!</h2>
    <div th:case="*">
        <h2>Temas Cadastrados</h2>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Desconto percentual (%)</th>
                <th>Revistas</th>
                <!-- <th>Editar</th> -->
                <!-- <th>Remover</th> -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="theme : ${themes}">
                <td th:text="${theme.name}"></td>
                <td th:text="${theme.getFormattedDiscount}"></td>
                <td th:text="${themesCount.get(themes.indexOf(theme))}"></td>
                <!-- <td><a th:href="@{/edit-theme/{id}(id=${theme.name})}">Editar</a></td> -->
                <!-- <td><a th:href="@{/remove-theme/{id}(id=${theme.name})}">Remover</a></td> -->
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/new-theme">Adicionar um novo tema</a></p>
</div>
