<form action="#"
      th:action="@{/add-book}"
      th:object="${book}"
      method="post">
  <h2>Adicionar Livro</h2>
  <label for="cod">Código de produto: </label>
  <input type="number" th:field="*{cod}" id="cod">
  <br/>
  <label for="ISBN">ISBN: </label>
  <input type="text" th:field="*{ISBN}" id="ISBN">
  <br/>
  <label for="title">Título: </label>
  <input type="text" th:field="*{title}" id="title">
  <br/>
  <label for="bedition">Edição: </label>
  <input type="number" th:field="*{edition}" id="bedition">
  <br/>
  <label for="blanguage">Idioma: </label>
  <input type="text" th:field="*{language}" id="blanguage">
  <br/>
  <label for="pages">No. Páginas: </label>
  <input type="number" th:field="*{pages}" id="pages">
  <br/>
  <label for="publication_year">Ano de publicação: </label>
  <input type="number" th:field="*{publication_year}" id="publication_year">
  <br/>
  <label for="fk_publisher_fname">Nome da Editora: </label>
  <input type="text" th:field="*{publisher.name}" id="fk_publisher_fname">
  <br/>
  <label for="fk_genre_fname">Gênero do livro: </label>
  <input type="text" th:field="*{genre.name}" id="fk_genre_fname">
  <br/>
  <input type="submit" value="Adicionar">
</form>
