<form action="#"
      th:action="@{/add-magazine}"
      th:object="${magazine}"
      method="post">
  <h2>Adicionar Livro</h2>
  <label for="cod">Cód. de Produto: </label>
  <input type="number" th:field="*{cod}" id="cod">
  <br/>
  <label for="price">Preço: </label>
  <input type="number" th:field="*{price}" step="0.01" id="price">
  <br/>
  <label for="amount">Qtd. Estoque: </label>
  <input type="number" th:field="*{amount}" id="amount">
  <br/>
  <label for="ISSN">ISSN: </label>
  <input type="text" th:field="*{ISSN}" id="ISSN">
  <br/>
  <label for="fname">Nome: </label>
  <input type="text" th:field="*{fname}" id="fname">
  <br/>
  <label for="pages">No. Páginas: </label>
  <input type="text" th:field="*{pages}" id="pages">
  <br/>
  <label for="publication_date">Data de Publicação: </label>
  <input type="text" th:field="*{publication_date}" id="publication_date">
  <br/>
  <label for="fk_publisher_fname">Nome da Editora: </label>
  <input type="text" th:field="*{publisher.name}" id="fk_publisher_fname">
  <br/>
  <label for="fk_theme_fname">Gênero do livro: </label>
  <input type="text" th:field="*{theme.name}" id="fk_theme_fname">
  <br/>
  <input type="submit" value="Adicionar">
</form>
